<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333943685302-tp6ej59hbpmspip623ovvofgt0qgh62d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333943685302-tp6ej59hbpmspip623ovvofgt0qgh62d</string>
	<key>API_KEY</key>
	<string>AIzaSyBAftswN600as7aWNRJmQEOYkV539a1hL0</string>
	<key>GCM_SENDER_ID</key>
	<string>333943685302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.testApp</string>
	<key>PROJECT_ID</key>
	<string>testapp-e8f29</string>
	<key>STORAGE_BUCKET</key>
	<string>testapp-e8f29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333943685302:ios:480246843098ab95d0e617</string>
</dict>
</plist>